footer{
	background-color: white;
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
<<<<<<< HEAD
	border-top: 1px solid #CCCCCC
=======
	border-top: 1px solid #CCCCCC;
>>>>>>> 6a34dc6ed8e692326c03b717e4b222e64b998e59
}

footer div{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
